
Host server-1
  HostName 10.100.199.201
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /vagrant/insecure_private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host server-2
  HostName 10.100.199.202
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /vagrant/insecure_private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host server-3
  HostName 10.100.199.203
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /vagrant/insecure_private_key
  IdentitiesOnly yes
  LogLevel FATAL

